
.titless{
        font-family:'Poppins-Medium';
        font-style: normal;
        text-align: center;
        font-weight: bold;
}

.textgerals{
  font-family:'BebasNeue-Light';
  font-style: normal;
}



@font-face {
    font-family:'Poppins-Medium' ;
    src: url(../font/popos/Poppins-Medium.ttf);
  }

  @font-face {
    font-family:'BebasNeue-Regular' ;
    src: url(../font/bebas/BebasNeue-Regular.ttf);
  }

  @font-face{
    font-family:'FredokaOne-Regular';
    src: url(../font/fredoka/FredokaOne-Regular.ttf)
  }

  @font-face {
    font-family:'BebasNeue-Light' ;
    src: url(../font/popos/Poppins-Light.ttf);
  }